@font-face {
    font-family: "ModernAntiqua";
    src: url('/fonts/ModernAntiqua-Regular.ttf');
    color: black;
}

html {
  font-size: 12pt;
  font-family: "ModernAntiqua";
}

.article-link {
  opacity: 0.9;
}

.article-link:focus {
  opacity: 1.0;
}

article.left {
  margin-right: auto;
}

article.right {
  margin-left: auto;
}

.rightaligned {
    text-align: right
}

article:nth-child(odd)  { margin-right: auto; }
article:nth-child(even) { margin-left: auto; text-align: right; }