@font-face {
    font-family: "ModernAntiqua";
    src: url('/fonts/ModernAntiqua-Regular.ttf');
    color: black;
}

html {
  font-size: 12pt;
  font-family: "ModernAntiqua";
}

.home-para {
  color: black; 
  font-weight: 500; 
  font-size: 13pt;
  /*
  background: radial-gradient(#d5cbc1ff 85%, #d5cbc100);
  padding: 20px;
  border-radius: 40px; */
}

.article-link {
 /* outline: solid; */
 border-radius: 10px;
 outline-color: #496888;
}

.article-text {
 text-align: center;

}

.article-link:hover {
  transition: 200ms;
  outline: solid;
  outline-color: #d0d2c5;
  scale: 110%;
}

article.left {
  margin-right: auto;
}

.acknowledgement {
  border-radius: 10px;
  background-color: #b69f86f2;
  outline: solid;
  outline-color: #d0d2c5;
  transition: 200ms;
  padding: 5px;
}


.rightaligned {
    text-align: right
}

.contact-form input {
  border-radius: 10px;
}

.contact-form button {
  background-color: #496888;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 15px;
}

.contact-form button:hover {
  background-color: #6b8aaa;
}